*{
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
}

::selection {
  color: white;
  background: rgba(40,150,146,1);
}

a{
  color: rgb(101, 46, 252);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(63, 63, 63);  */
  background: rgb(88,163,160);
background: linear-gradient(0deg, rgba(88,163,160,1) 0%, rgba(33,33,33,1) 30%, rgba(33,33,33,1) 70%, rgba(40,150,146,1) 100%);
border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(38, 38, 38); 
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(59,59,59,1);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.entire-page{
    width: 100%;
    /* background: rgb(59,59,59);
    background: linear-gradient(87deg, rgba(59,59,59,1) 94%, rgba(40,150,146,1) 100%); */
    
}

.nav-top{
    background: rgb(47,47,47);
    background: linear-gradient(360deg, rgba(59,59,59,1) 80%, rgba(40,150,146,1) 95%);

  box-shadow: 5px 5px 15px rgb(116, 116, 116);
}

.below-navbar-body{
    margin: 0%;
    padding: 0%;
}


  .about{
    background: rgb(255,255,255);
    /* background: linear-gradient(180deg, rgb(244, 244, 244, 0.6) 54%, rgba(40,150,146,0.6) 100%); */
    text-align: justify;
  }

  .name{
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(180deg, rgb(244, 244, 244) 54%, rgba(40,150,146,0.4) 100%); */
    text-align: justify;
  }

  .profile{
    /* background: rgb(185,215,214); */
    /* background: linear-gradient(0deg, rgba(185,215,214,0.7) 17%, rgba(125,180,178,0.1) 39%, rgba(88,163,160,0.3) 100%); */
  }

  
  .brands{
    font-size: 30px;
    margin: 15px;
    color: aliceblue;
  }
  
  .bottombar{
    background: rgb(47,47,47);
    background: linear-gradient(180deg, rgba(59,59,59,1) 75%, rgba(40,150,146,1) 95%);
}

.card-bg{
  background:rgba(40,150,146,0.2);
}

.minimum{
  min-width: 160px;
}

.img-tb{
  max-width: 100%;
  min-width: 200px;
}


@media only screen and (max-width: 576px) {
  .my-content{
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
}
  .card-body{
    padding: 1%;
    margin: 1%;
  }
}

@media only screen and (min-width: 576px) {
  .my-content{
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media only screen and (min-width: 1000px) {
  .my-content{
    margin-left: 12%;
    margin-right: 12%;
  }
}